@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-family: 'Alkalami', serif;
  scroll-behavior: smooth;
  color: hsl(240, 15%, 10%) ;
  /* background-color: #f2f2f2; */
  /* color: blueviolet; */
  /* background-color: hsl(223, 80%, 64%); */
  background-color: #fff;
  background-color: #F0F8FF;
  background-color: #F5FFFA;

}
/* body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.search::placeholder{
  color: #fff;
}
.inh{
  background-color: inherit;
  height: 0;
}
.clr:focus{
  color: #fff;
}
.gap{
  gap: .5rem;  
}